@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Saira+Extra+Condensed&family=Shrikhand&display=swap');


body {
    line-height: 1.5;
    font-family: 'Noto Sans TC', sans-serif;
    color: $white;
}

// * {
//     outline: 1px solid red;
// }


img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


textarea {
    resize: none;
}