@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Shrikhand&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Shrikhand', cursive;
}

// * {
//     outline: 1px solid red;
// }

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    &:hover {
        color: #828282 !important;
    }
}