.bg-nav {
    background-color: $primary;

    @include lg {
        background: $gradient;
    }
}

.bg-img {
    background-image: url(../images/home_background.png);
    // height: 880px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: -114px;

    @include tab {
        height: 80%;
    }
}

.bg-circle {
    background: $gradient-radial-circle;
    z-index: 1;
}

.bg-circle-secondary {
    background: $gradient-radial-circle-secondary;
    z-index: 1;
}

.bg-carousel {
    background-image: url(../images/carousel_background.png);
    height: 1089px;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(12px);

    @include tab {
        height: 791px;
    }
}