@mixin llg {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin tab {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: 576px) {
        @content;
    }
}

.ff-nst {
    font-family: 'Noto Sans TC', sans-serif;
}

.ff-s {
    font-family: 'Shrikhand', cursive;
}

.ff-sec {
    font-family: 'Saira Extra Condensed', sans-serif;
}

.w-44 {
    width: 44px;
    height: 44px;
}

.w-196 {
    width: 196px;
    height: 196px;
}

.w-416 {
    width: 416px;
}

.w-950 {
    width: 950px;
}

.w-132 {
    width: 132px;
    height: 132px;
}

.border-md-end {
    border-right: 1px solid $white;

    @include tab {
        border-right: 0px;
    }
}

.border-sm-top {
    border-top: 0px;

    @include tab {
        border-top: 1px solid $white;
    }
}

.text-end {
    text-align-last: end;
}

// .z-3 {
//     z-index: 3;
// }

.astro-1 {
    aspect-ratio: 1/1;
}

.swiper-scrollbar-drag {
    background-color: white;
}

.swiper-scrollbar {
    background-color: gray;
}

.other__link-hover {
    &:hover {
        color: $white;
    }
}

.fw-900 {
    font-weight: 900;
}

.mx-012 {
    margin-left: -12px;
    margin-right: -12px;
}