<li class="col-lg-3 col-6">
    <a href="#"
        class="ai__list ai__list-diane border-0 rounded-0 d-flex flex-column align-items-lg-center pt-lg-6 pb-lg-14 py-6 px-3 other__link-hover">
        <div class="mb-lg-20 mb-188 text-center ">
            <h3 class="ff-sec fs-lg-400 fs-128 fw-light mb-lg-5 mb-4">
                1
            </h3>
            <p class="ff-s fs-lg-8 fs-6 fw-medium">Diane</p>
        </div>
        <div
            class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-lg-evenly justify-content-start align-items-start">
            <div>
                <p class="fw-bolder">知識型</p>
                <p class="fw-medium">學術領導/知識分享/智能問答</p>
            </div>
            <div class="ms-lg-10">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="24%" viewBox="0 0 155 24" fill="none">
                    <mask id="mask0_2824_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155"
                        height="24">
                        <rect width="155" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_2824_6)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
                    </g>
                </svg>
            </div>
        </div>
    </a>
</li>
<li class="col-lg-3 col-6">
    <a href="#"
        class="ai__list ai__list-felix border-0 rounded-0 d-flex flex-column align-items-lg-center pt-lg-6 pb-lg-14 py-6 px-3 other__link-hover">
        <div class="mb-lg-20 mb-188 text-center ">
            <h3 class="ff-sec fs-lg-400 fs-128 fw-light mb-lg-5 mb-4">
                2
            </h3>
            <p class="ff-s fs-lg-8 fs-6 fw-medium">Felix</p>
        </div>
        <div
            class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-lg-evenly justify-content-start align-items-start">
            <div>
                <p class="fw-bolder">娛樂型</p>
                <p class="fw-medium">音樂播放/語音互動/遊戲陪伴</p>
            </div>
            <div class="ms-lg-10">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="24%" viewBox="0 0 155 24" fill="none">
                    <mask id="mask0_2824_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155"
                        height="24">
                        <rect width="155" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_2824_6)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
                    </g>
                </svg>
            </div>
        </div>
    </a>
</li>
<li class="col-lg-3 col-6">
    <a href="#"
        class="ai__list ai__list-karina border-0 rounded-0 d-flex flex-column align-items-lg-center pt-lg-6 pb-lg-14 py-6 px-3 other__link-hover">
        <div class="mb-lg-20 mb-188 text-center ">
            <h3 class="ff-sec fs-lg-400 fs-128 fw-light mb-lg-5 mb-4">
                3
            </h3>
            <p class="ff-s fs-lg-8 fs-6 fw-medium">Karina</p>
        </div>
        <div
            class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-lg-evenly justify-content-start align-items-start">
            <div>
                <p class="fw-bolder">生活型</p>
                <p class="fw-medium">健康提醒/日程安排/智能家居</p>
            </div>
            <div class="ms-lg-10">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="24%" viewBox="0 0 155 24" fill="none">
                    <mask id="mask0_2824_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155"
                        height="24">
                        <rect width="155" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_2824_6)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
                    </g>
                </svg>
            </div>
        </div>
    </a>
</li>
<li class="col-lg-3 col-6">
    <a href="#"
        class="ai__list ai__list-vito border-0 rounded-0 d-flex flex-column align-items-lg-center pt-lg-6 pb-lg-14 py-6 px-3 other__link-hover">
        <div class="mb-lg-20 mb-188 text-center ">
            <h3 class="ff-sec fs-lg-400 fs-128 fw-light mb-lg-5 mb-4">
                4
            </h3>
            <p class="ff-s fs-lg-8 fs-6 fw-medium">Vito</p>
        </div>
        <div
            class="d-flex flex-lg-row flex-column align-items-lg-center justify-content-lg-evenly justify-content-start align-items-start">
            <div>
                <p class="fw-bolder">情感型</p>
                <p class="fw-medium">情感識別/心情分析/心靈支持</p>
            </div>
            <div class="ms-lg-10">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="24%" viewBox="0 0 155 24" fill="none">
                    <mask id="mask0_2824_6" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155"
                        height="24">
                        <rect width="155" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_2824_6)">
                        <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="white" />
                    </g>
                </svg>
            </div>
        </div>
    </a>
</li>