<div class="container">
    <div class="row">

        <div class="col-lg-5 col-12 mb-lg-0 mb-6">
            <div class="d-flex mb-md-5 mb-3">
                <h2 class="fs-md-12 fs-10 fw-bolder ls-md-48 ls-40">聯絡我</h2>
                <span class="fs-md-12 fs-10 fw-bolder">們</span>
            </div>

            <div class="d-flex mb-lg-54 mb-9">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"
                    class="me-2">
                    <circle cx="6" cy="6" r="6" fill="white" />
                </svg>
                <div class="rounded-pill bg-white" style="width: 124px;"></div>
            </div>
            <div class="">
                <p class="fw-bolder  mb-1">讓科技成為您的最佳夥伴</p>
                <p class="fw-bolder ">立即體驗神奇功能並享限時優惠！</p>
            </div>
        </div>
        <div class="col-lg-7 order-lg-1 col-12">
            <div class="row">
                <form action="">
                    <div class="mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                            <mask id="mask0_283_5229" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="80" height="80">
                                <rect width="80" height="80" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_283_5229)">
                                <path
                                    d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z"
                                    fill="white" />
                            </g>
                        </svg>
                    </div>
                    <div class="form-floating mb-4 text-other fw-bolder fs-md-5 fs-4">
                        <input type="email" class="form-control" id="Email" placeholder="email">
                        <label for="email" class="bg-transparent">Email</label>
                    </div>
                    <div class="form-floating mb-4 text-other fw-bolder fs-md-5 fs-4">
                        <textarea class="form-control" placeholder="COMMENTS" id="comments"
                            style="height: 120px"></textarea>
                        <label for="comments ">COMMENTS</label>
                    </div>
            </div>
            <div class="text-md-end text-center">
                <!-- py-2 px-md-178 -->
                <botton type="submit" class="btn btn-primary  fw-bold  col-md-7 col-12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="me-1">
                        <mask id="mask0_464_3402" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="24" height="24">
                            <rect width="24" height="24" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_464_3402)">
                            <path
                                d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                                fill="white" />
                        </g>
                    </svg>
                    送出
                </botton>
            </div>
            </form>
        </div>
    </div>
</div>
</div>