<div class="bg-carousel w-50 position-absolute"></div>
<div class="container-fluid pt-md-144 pt-136">
    <div class="bg-gradient-line-s w-100 py-5"></div>
</div>
<div class="border-bottom border-1 border-white mb-md-8 mb-4">
    <div class="container-fluid">
        <div class="pt-md-2 pt-4">
            <h2 class="fs-md-12  fw-bolder  ls-md-48 fs-6 ls-24 mb-md-3 mb-2">什麼是</h2>
            <h2 class="fs-md-12  fw-bolder  ls-md-48 fs-6 ls-24 mb-md-4 mb-5">ALPHABOX+</h2>
        </div>
    </div>
</div>
<div class="container-fluid ">
    <!-- data-bs-ride="carousel" -->
    <div id="carouselExample" class="carousel slide mb-8" data-bs-ride="carousel">
        <div class="container">
            <div class="pe-13 d-block">
                <button class="carousel-control-prev d-lg-block d-none z-1 text-start" type="button"
                    data-bs-target="#carouselExample" data-bs-slide="prev">
                    <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
                        <mask id="mask0_303_5647" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="180" height="48">
                            <rect width="180" height="48" fill="#28085C" />
                        </mask>
                        <g mask="url(#mask0_303_5647)">
                            <path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="#828282" />
                        </g>
                    </svg>
                </button>
            </div>
            <div class="carousel-inner z-0">
                <div class="carousel-item active z-md-1 z-2">
                    <img src="../assets/images/Carousel/carousel.png" class="d-md-block d-none w-100"
                        alt="carousel_img">
                    <img src="../assets/images/Carousel/carousel_mobile.png" class="d-md-none d-block w-100"
                        alt="carousel_img">
                    <div
                        class="carousel-caption h-100 d-flex flex-column justify-content-end align-items-start justify-content-md-center align-items-md-end  mb-4 mb-md-0 px-4 px-md-0 me-md-10">
                        <p class="ff-s fs-md-24 fs-16 fw-medium lh-base">01</p>
                        <div class="mb-md-4 mb-2 d-flex">
                            <p class="fs-md-8 fs-6 fw-bolder  ls-md-32 ls-24 ">
                                立體投影技</p>
                            <p class="fs-md-8 fs-6 fw-bolder ">術</p>
                        </div>
                        <p class="fw-bolder text-md-end text-start">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                </div>
                <div class="carousel-item z-md-1 z-2">
                    <img src="../assets/images/Carousel/02.jpg" class="d-md-block d-none w-100" alt="carousel_img">
                    <img src="../assets/images/Carousel/02-m.jpg" class="d-md-none d-block w-100" alt="carousel_img">
                    <div
                        class="carousel-caption h-100 d-flex flex-column justify-content-end align-items-start justify-content-md-center align-items-md-end  mb-4 mb-md-0 px-4 px-md-0 me-md-10">
                        <p class="ff-s fs-md-24 fs-16 fw-medium lh-base">01</p>
                        <div class="mb-md-4 mb-2 d-flex">
                            <p class="fs-md-8 fs-6 fw-bolder  ls-md-32 ls-24 ">
                                立體投影技</p>
                            <p class="fs-md-8 fs-6 fw-bolder ">術</p>
                        </div>
                        <p class="fw-bolder text-md-end text-start">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                </div>
                <div class="carousel-item z-md-1 z-2">
                    <img src="../assets/images/Carousel/03.jpg" class="d-md-block d-none w-100" alt="carousel_img">
                    <img src="../assets/images/Carousel/03-m.jpg" class="d-md-none d-block w-100" alt="carousel_img">
                    <div
                        class="carousel-caption h-100 d-flex flex-column justify-content-end align-items-start justify-content-md-center align-items-md-end  mb-4 mb-md-0 px-4 px-md-0 me-md-10">
                        <p class="ff-s fs-md-24 fs-16 fw-medium lh-base">01</p>
                        <div class="mb-md-4 mb-2 d-flex">
                            <p class="fs-md-8 fs-6 fw-bolder ls-md-32 ls-24">
                                立體投影技</p>
                            <p class="fs-md-8 fs-6 fw-bolder ">術</p>
                        </div>
                        <p class="fw-bolder text-md-end text-start">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                </div>
            </div>
            <div class="ps-13">
                <button class="carousel-control-next d-lg-block d-none z-1 text-end" type="button"
                    data-bs-target="#carouselExample" data-bs-slide="next">
                    <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
                        <mask id="mask0_250_5034" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="180" height="48">
                            <rect width="180" height="48" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_250_5034)">
                            <path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="white" />
                        </g>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-md-13 pb-15">
    <div class="bg-gradient-line-e w-100 py-5 "></div>
</div>
</div>

<!-- <script>
    const swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 5000,
        },
        breakpoints: {
            768: {
                autoplay: {
                    enabled: false,
                }
            }
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

</script> -->