<footer class="bg-light">
    <div class="container-fluid">
        <div class="row flex-md-row flex-column align-items-md-center justify-content-md-between py-lg-12 py-10 px-8">
            <div class="col-lg-5 col-12 mb-md-0 mb-2">
                <p>
                    <a href="index.html"
                        class="ff-s fs-lg-6 fw-normal text-dark fs-lg-4 fs-8 text-dark d-block">ALPHABOX+</a>
                </p>
                <p class="fw-bolder text-dark ls-lg-6 d-lg-block d-none ls-6 d-lg-block d-none">Copyright © 2023
                    Hexschool.</p>
            </div>
            <div class="col-lg-2 col-12 text-lg-center  mb-lg-0 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                    <mask id="mask0_279_5149" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="80"
                        height="80">
                        <rect width="80" height="80" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_279_5149)">
                        <path
                            d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z"
                            fill="black" />
                    </g>
                </svg>
            </div>
            <ul class="col-lg-5 col-12 list-unstyled d-flex justify-content-lg-end flex-lg-row flex-column my-auto">
                <li class="mb-lg-0 mb-2">
                    <a href="#" class="fw-bolder text-dark pe-lg-6 d-block">關於我們</a>
                </li>
                <li class="mb-lg-0 mb-2">
                    <a href="#" class="fw-bolder text-dark pe-lg-6 d-block">產品資訊</a>
                </li>
                <li class="mb-lg-0 mb-2">
                    <a href="#" class="fw-bolder text-dark pe-lg-6 d-block">常見問題</a>
                </li>
                <li class="mb-lg-0 mb-2">
                    <a href="#" class="fw-bolder text-dark d-block">隱私政策</a>
                </li>
                <li class="d-lg-none d-block">
                    <p class="text-dark fw-bolder ls-6">Copyright © 2023 Hexschool.</p>
                </li>
            </ul>
        </div>
    </div>
</footer>