<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide bg-primary  p-10 d-flex flex-column astro-1">
            <p class="fw-bolder mb-8">
                Zona
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none" class="mx-2">
                    <circle cx="4" cy="4" r="4" fill="white" />
                </svg>
                Taipei
            </p>
            <p class="fw-bolder  flex-grow-1">
                ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
            </p>
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    class="me-4">
                    <circle cx="8" cy="8" r="8" fill="white" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    class="me-4">
                    <circle cx="8" cy="8" r="8" fill="white" />
                </svg>
                <p class="fw-bolder ">ALPHABOX+ Dianne</p>
            </div>
        </div>
        <div class="swiper-slide bg-white text-dark p-10 d-flex flex-column astro-1">
            <p class="fw-bolder mb-8">
                Lin
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none" class="mx-2">
                    <circle cx="4" cy="4" r="4" fill="black" />
                </svg>
                Chiayi
            </p>
            <p class="fw-bolder  flex-grow-1">
                非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
            </p>
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    class="me-4">
                    <circle cx="8" cy="8" r="8" fill="black" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    class="me-4">
                    <circle cx="8" cy="8" r="8" fill="black" />
                </svg>
                <p class="fw-bolder ">ALPHABOX+ Felix</p>
            </div>
        </div>
        <div class="swiper-slide bg-primary  p-10 d-flex flex-column astro-1">
            <p class="fw-bolder mb-8">
                云
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none" class="mx-2">
                    <circle cx="4" cy="4" r="4" fill="white" />
                </svg>
                Taipei
            </p>
            <p class="fw-bolder  flex-grow-1">
                我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
            </p>
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    class="me-4">
                    <circle cx="8" cy="8" r="8" fill="white" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    class="me-4">
                    <circle cx="8" cy="8" r="8" fill="white" />
                </svg>
                <p class="fw-bolder">ALPHABOX+ Dianne</p>
            </div>
        </div>
        <div class="swiper-slide bg-white text-dark p-10 d-flex flex-column astro-1">
            <p class="fw-bolder mb-8">
                Zichi
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none" class="mx-2">
                    <circle cx="4" cy="4" r="4" fill="black" />
                </svg>
                Kaohsiung
            </p>
            <p class="fw-bolder  flex-grow-1">
                讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
            </p>
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    class="me-4">
                    <circle cx="8" cy="8" r="8" fill="black" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                    class="me-4">
                    <circle cx="8" cy="8" r="8" fill="black" />
                </svg>
                <p class="fw-bolder">ALPHABOX+ Vito</p>
            </div>
        </div>
    </div>
    <div class="row align-items-center mt-5">
        <div class="col-8">
            <div class="swiper-scrollbar position-static"></div>
        </div>
        <div class="col-1">
            <p class="fw-bolder  mb-0 ">SCROLL</p>
        </div>
    </div>
</div>