<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <title>ALPHABOX+</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="bg-img w-100 pt-20">
      <%- include('./layout/circleAndbanner'); -%>
    </div>
    <div class="position-relative bg-circle overflow-hidden">
      <%- include('./layout/explainSwiper'); -%>
    </div>
    <div class="bg-circle">
      <%- include('./layout/new'); -%>
    </div>
    <div class="bg-circle-secondary">
      <div class="pt-md-200 pt-15 overflow-hidden">
        <div class="container mb-md-200 mb-20 position-relative">
          <div class="row">
            <div class="col-md-12 d-flex align-items-center mb-4">
              <div class="col-lg-5 col-12">
                <h2 class="fs-md-12 fw-bolder  ls-md-48 fs-10 ls-40 ">使用分享</h2>
              </div>
              <div class="col-lg-7 d-lg-block d-none">
                <p class="fw-bolder   ">
                  展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <p class="fw-bolder mb-lg-10 mb-6">
                01
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <mask id="mask0_281_5207" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                    height="24">
                    <rect width="24" height="24" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_281_5207)">
                    <path d="M4 13V11H20V13H4Z" fill="white" />
                  </g>
                </svg>
                04
              </p>
              <p class="fw-bolder   d-lg-none d-block mb-6">
                展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。
              </p>
              <p class="mb-md-6 mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                  <mask id="mask0_435_2129" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="80"
                    height="80">
                    <rect width="80" height="80" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_435_2129)">
                    <path
                      d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z"
                      fill="white" />
                  </g>
                </svg>
              </p>
            </div>
          </div>
          <div class="d-md-block d-none">
            <%- include('./layout/shareSwiper'); -%>
          </div>
          <div class="d-md-none d-block">
            <div class="bg-secondary-dark  p-10 d-flex flex-column astro-1 mb-6">
              <p class="fw-bolder mb-8">
                Zona
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none" class="mx-2">
                  <circle cx="4" cy="4" r="4" fill="white" />
                </svg>
                Taipei
              </p>
              <p class="fw-bolder  flex-grow-1">
                ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
              </p>
              <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  class="me-4">
                  <circle cx="8" cy="8" r="8" fill="white" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  class="me-4">
                  <circle cx="8" cy="8" r="8" fill="white" />
                </svg>
                <p class="fw-bolder ">ALPHABOX+ Dianne</p>
              </div>
            </div>
            <div class="bg-white text-dark p-10 d-flex flex-column astro-1 mb-6">
              <p class="fw-bolder mb-8">
                Lin
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none" class="mx-2">
                  <circle cx="4" cy="4" r="4" fill="black" />
                </svg>
                Chiayi
              </p>
              <p class="fw-bolder  flex-grow-1">
                非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
              </p>
              <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  class="me-4">
                  <circle cx="8" cy="8" r="8" fill="black" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  class="me-4">
                  <circle cx="8" cy="8" r="8" fill="black" />
                </svg>
                <p class="fw-bolder ">ALPHABOX+ Felix</p>
              </div>
            </div>
            <div class="bg-secondary-dark  p-10 d-flex flex-column astro-1 mb-6">
              <p class="fw-bolder mb-8">
                云
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none" class="mx-2">
                  <circle cx="4" cy="4" r="4" fill="white" />
                </svg>
                Taipei
              </p>
              <p class="fw-bolder  flex-grow-1">
                我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
              </p>
              <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  class="me-4">
                  <circle cx="8" cy="8" r="8" fill="white" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  class="me-4">
                  <circle cx="8" cy="8" r="8" fill="white" />
                </svg>
                <p class="fw-bolder ">ALPHABOX+ Dianne</p>
              </div>
            </div>
            <div class="bg-white text-dark p-10 d-flex flex-column astro-1">
              <p class="fw-bolder mb-8">
                Zichi
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none" class="mx-2">
                  <circle cx="4" cy="4" r="4" fill="black" />
                </svg>
                Kaohsiung
              </p>
              <p class="fw-bolder  flex-grow-1">
                讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
              </p>
              <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  class="me-4">
                  <circle cx="8" cy="8" r="8" fill="black" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                  class="me-4">
                  <circle cx="8" cy="8" r="8" fill="black" />
                </svg>
                <p class="fw-bolder ">ALPHABOX+ Vito</p>
              </div>
            </div>
          </div>
          <div
          class="ff-s fw-medium fs-lg-400 fs-128 watermark start-50 translate-middle-x position-absolute text-center lh-1">
            ALPHABOX+
          </div>
          <div class="d-md-block d-none position-absolute mt-136 fw-bolder mb-10">
            若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。
          </div>
        </div>
      </div>
    </div>
    <div class="py-lg-144 pt-15 pb-20 bg-other">
      <%- include('./layout/contact'); -%>
    </div>
    <ol class="list-unstyled d-flex flex-wrap m-0">
      <%- include('./layout/aiList'); -%>
    </ol>
    <%- include('./layout/footer'); -%>
      <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
      <script type="module" src="../main.js"></script>
      <%- include('./layout/index_swiper'); -%>
</body>

</html>