<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="pt-20 bg-circle">
            <div class="container">
                <div class="row pt-15 pb-6">
                    <div class="col-md-5 col-12 align-self-end">
                        <h2 class="fs-md-16 fs-10 fw-900 ls-md-64 ls-40">登入</h2>
                    </div>
                    <div class="col-md-2 col-12 mx-md-0 text-md-end text-center">
                        <img src="../assets/images/circle.png" alt="circle" class="w-196 circle__img overflow-visible">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mx-auto text-center">
                        <p class="ff-s fs-8 fw-medium mb-8">ALPHABOX+</p>
                        <botton
                            class="d-flex align-items-center justify-content-center fw-medium btn btn-outline-light rounded-pill p-0 mb-4">
                            <img src="../assets/images/apple 1.png" alt="apple_icon" class="p-100">
                            Continue with Apple
                        </botton>
                        <botton
                            class="d-flex align-items-center justify-content-center fw-medium btn btn-outline-light rounded-pill p-0 mb-6">
                            <img src="../assets/images/google.png" alt="google" class="p-100">
                            Continue with Google
                        </botton>
                        <div class="d-flex align-items-center justify-content-center mb-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="197" height="1" viewBox="0 0 197 1"
                                fill="none">
                                <path
                                    d="M1 0C0.723858 0 0.5 0.223858 0.5 0.5C0.5 0.776142 0.723858 1 1 1V0ZM1 1H197V0H1V1Z"
                                    fill="#828282" />
                            </svg>
                            <p class="px-1">
                                or
                            </p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="197" height="1" viewBox="0 0 197 1"
                                fill="none">
                                <path
                                    d="M1 0C0.723858 0 0.5 0.223858 0.5 0.5C0.5 0.776142 0.723858 1 1 1V0ZM1 1H197V0H1V1Z"
                                    fill="#828282" />
                            </svg>
                        </div>
                        <form action="">
                            <div class="form-floating mb-md-4 mb-2 text-other fw-bolder fs-md-5 fs-4">
                                <input type="email" class="form-control" id="EMAIL" placeholder="name@example.com">
                                <label for="EMAIL">EMAIL</label>
                            </div>
                            <div class="form-floating mb-md-4 mb-2 text-other fw-bolder fs-md-5 fs-4">
                                <input type="password" class="form-control" id="Password" placeholder="Password">
                                <label for="Password">密碼</label>
                            </div>
                            <botton type="submit" class="btn btn-primary fw-bold w-100 mb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" class="me-1">
                                    <mask id="mask0_464_3402" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                        y="0" width="24" height="24">
                                        <rect width="24" height="24" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_464_3402)">
                                        <path
                                            d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z"
                                            fill="white" />
                                    </g>
                                </svg>
                                立即登入
                            </botton>
                            <div class="text-end mb-md-93 mb-20">
                                <a href="#" class="link-offset-2" style="text-decoration: underline;">忘記密碼</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>